body {
    margin: 0;
}

header {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    padding: 2rem;
    border-bottom: solid 2px;
}


.score-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem 0;
    width: 100%;
    max-width: 20vw;
    padding-top: 3rem;
    margin: auto;
}

.score-board-letter {
    display: flex;
    box-sizing: border-box;
    height: 3rem;
    width: 3rem;
    border: 3px solid #6f6f6fa0;
    font-size: 1rem;
    margin: 0;
}